.main button {
  color: blue;
}

.main button:hover {
  cursor: pointer;
}
ul {
  list-style-type: none;
}

.request-item {
  /* display: inline-block; */
  /* background-color: purple; */
  margin: 10px;
  padding: 10px;
}

/* .request-info {
  float: left;
  width: 20%;
}

.request-data {
  float: right;
} */
