body {
  background-color: #4d4344;
  color: #e99f6a;
}
.header {
  display: block;
  font-family: "Lacquer";
  background-color: #e99f6a;
  color: #4d4344;
  border-radius: 10px;
  text-wrap: nowrap;
  margin-bottom: 30px;
}

.header a, .header h1 {
  display: inline-block;
  font-size: 30px;
  padding-left: 30px;
}

.header a {
  cursor: pointer;
  padding-right: 110px;
}

.main {
  display: inline-block;
  padding-left: 10px;
  /* display: left;
  border: 1px solid;
  width: 50%; */
}
