body {
  background-color: #453c3d;
  color: #e99f6a;
  font-family: 'Lacquer';
  min-width: 760px;
}

.header {
  display: block;
  background-color: #e99f6a;
  color: #453c3d;
  border-radius: 10px;
  text-wrap: nowrap;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.header a, .header h1, .header button {
  display: inline-block;
  font-size: 30px;
  margin-left: 30px;
}

.header button {
  margin-left: 150px;
}

.header a {
  font-family: "VT323";
  font-size: 42px;
  cursor: pointer;
  padding-right: 100px;
}

.header a:hover {
  color: #DB324D
}

.container {
  display: flex;
  justify-content: center;
  font-size: 22px;
  /*font-family: "Lacquer";*/
  gap: 16px;
}

.sidebar {
  min-width: 200px;
  height: auto;
  text-align: center;
  border: 5px double #db324d;
  margin-right: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.sidebar button {
  font-size: 24px;
  margin-bottom: 8px;
  padding: 8px;
  width: 120px;
  word-wrap: break-word;
}

.main {
  margin-left: 20px;
  flex: 1;
  text-align: center;
  border-radius: 10px;
}

.main p {
  text-align: left;
  text-wrap: nowrap;
  padding-left: 10px;
}

.form {
  padding-top: 20px;
}

.form input {
  font-size: 24px;
  margin-bottom: 8px;
  padding: 8px;
  font-family: "VT323";
}

button, .button {
  font-family: "VT323";
  cursor: pointer;
  background-color: #e99f6a;
  color: #453c3d;
}

button:hover, .button:hover, button.headers:hover, button.queries:hover, button.body:hover {
  background-color: #a499b3;
}

ul button {
  color: #453c3d;
  font-size: 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

pre, code {
  white-space: pre-wrap;
  font-family: "VT323";
}

.path {
  color: #db324d;
}

.info-dropdown {
  border: 1px solid;
  border-radius: 20px;
  padding: 12px;
  text-wrap: word-wrap;
  overflow-wrap: break-word;
  width: 600px;
}

button.headers {
  background-color: #90f1ef;
}

button.queries {
  background-color: #e9e07c;
}

button.body {
  background-color: #00a878;
}

.info-dropdown.headers {
  color: #90f1ef;
}

.info-dropdown.queries {
  color: #e9e07c;
}

.info-dropdown.body {
  color: #00a878;
}

.hidden {
  display: none;
}

table {
  font-size: 24px;
  font-family: "VT323";
  display: flex;
}

.info, .data {
  text-align: left;
  padding-right: 30px;
}

.info {
  min-width: 170px;
  color: #a499b3;
}

.data {
  flex: 1;
  min-width: 200px;
  width: 1000px;
  border: 1px solid;
  border-radius: 20px;
}

.path-link-container {
  display: block;
  font-family: "VT323";
  width: auto;
  text-align: left;
  text-wrap: nowrap;
}

.path-link-container p,
.path-link-container pre,
.path-link-container button {
  display: inline-block;
  margin: 8px;
}

.path-link-container code {
  color:#453c3d;
  background-color: rgb(218, 216, 216);
  padding-left: 5px;
  padding-right: 5px;
  border-width: 100px;
  border-color: #2a2526;
}